<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/php/bootstrap.php"
	colors="true"
	cacheDirectory=".phpunit.cache"
>
	<testsuites>
		<testsuite name="KaiGen PHP Unit Tests">
			<directory suffix="Test.php">tests/php</directory>
		</testsuite>
	</testsuites>
	<source>
		<include>
			<file>inc/class-image-generation-http-options.php</file>
			<file>inc/class-image-generation-service.php</file>
			<file>inc/class-rest-api.php</file>
		</include>
	</source>
</phpunit>
