<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/php/bootstrap.php"
	colors="true"
	cacheDirectory=".phpunit.cache"
>
	<source>
		<include>
			<directory suffix=".php">inc</directory>
		</include>
	</source>
	<testsuites>
		<testsuite name="KaiGen PHP Unit Tests">
			<directory suffix="Test.php">tests/php</directory>
		</testsuite>
	</testsuites>
</phpunit>
